@model TrainerStudentsViewModel

@{
    ViewData["Title"] = "Students";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Birthdate</th>
                    <th>Grade</th>
                    @if (Model.Course.EndDate < DateTime.UtcNow)
                    {
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.Students)
                {
                    <tr>
                        <td>@student.Name</td>
                        <td>@student.Email</td>
                        <td>@(student.Grade == null ? "No grade" : student.Grade.ToString())</td>
                        @if (Model.Course.EndDate < DateTime.UtcNow)
                        {
                            <td>
                                <form asp-action="GradeStudent" asp-route-id="@Model.Course.Id" method="post">
                                    <input type="hidden" name="studentId" value="@student.Id" />
                                    <select name="grade" asp-items="@Html.GetEnumSelectList<Grade>()"></select>
                                    <input type="submit" class="btn btn-primary" value="Add Grade" />
                                </form>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
