@model IEnumerable<UserListingModel>

@{
    ViewData["Title"] = "User Administration";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-10">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        @if (user.Roles.Count > 0)
                        {
                            <td>@string.Join("/", user.Roles)</td>
                        }
                        else
                        {
                            <td>No roles assigned</td>
                        }
                        <td>
                            <a asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-email="@user.Email" class="btn btn-warning btn-sm">Edit roles</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
